/*CSS Document*/
body{
    border:none;
    margin:0 auto;
    background-image:url('fundo.png');
    background-repeat:no-repeat;
    background-attachment:fixed;
    text-align:center;
    color:black;
    font-size:medium;
    font-family:'Times New Roman', Times, serif;
    font-style:normal;    

}

h1{font-size: 200%;
    
}
h2{font-size: 200%;
    
}

div{font-size: 150%;
   
}


#caixadetexto{
    background-color: #FFF;
    height: 150px ;
    width: 250px;
    margin:0 auto;
    margin-bottom: 5px;
    text-align: center;
    
}

#caixadeassunto{
    background-color: #FFF;
    height:30px ;
    width: 250px;
    margin:0 auto;
    margin-bottom: 5px;
    text-align: center;
}

#caixadeemail{
    background-color: #FFF;
    height:30px ;
    width: 250px;
    margin:0 auto;
    margin-bottom: 5px;
    text-align: center;
}

#box1{
margin:0 auto; 
padding:0%;

}
#box2{
   margin:0 auto;
   padding:0%;
}
#box3{
    margin:0 auto;
    padding:2%;
}
#box4{
    
    margin:0 auto;
    padding:2%;
}
#box5{    
    margin:0 auto;
    padding:5%;
}

div.box6{
    margin:auto;
    padding:5%;
}


       
       button:after {
        background-clip: padding-box;
        background-color: #1CB0F6;
        border: solid transparent;
        border-radius: 16px;
        border-width: 0 0 4px;
        bottom: -4px;
        content: "";
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        z-index: -1;
       }
       
       button:focus {
        user-select: auto;
       }
       
       button:hover:not(:disabled) {
        filter: brightness(1.1);
       }
       
       button:disabled {
        cursor: auto;
       }
       
       button:active:after {
        border-width: 0 0 0px;
       }
       
       button:active {
        padding-bottom: 10px;
       }

       button{
        background-color: #1899D6;
        border: solid transparent;
        border-radius: 16px;
        border-width: 0 0 4px;
        box-sizing: border-box;
        color: #FFFFFF;
        cursor: pointer;
        display: inline-block;
        font-size: 15px;
        font-weight: 700;
        letter-spacing: .8px;
        line-height: 20px;
        margin: 0;
        outline: none;
        overflow: visible;
        padding: 13px 19px;
        text-align: center;
        text-transform: uppercase;
        touch-action: manipulation;
        transform: translateZ(0);
        transition: filter .2s;
        user-select: none;
        -webkit-user-select: none;
        vertical-align: middle;
        white-space: nowrap;
       }
       
       button:after {
        background-clip: padding-box;
        background-color: #1CB0F6;
        border: solid transparent;
        border-radius: 16px;
        border-width: 0 0 4px;
        bottom: -4px;
        content: "";
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        z-index: -1;
       }
       
       button:focus {
        user-select: auto;
       }
       
       button:hover:not(:disabled) {
        filter: brightness(1.1);
       }
       
       button:disabled {
        cursor: auto;
       }
       
       button:active:after {
        border-width: 0 0 0px;
       }
       
       button:active {
        padding-bottom: 10px;
       }

#botaoacionarjs{
        
        background-color: #1899D6;
        border: solid transparent;
        border-radius: 16px;
        border-width: 0 0 4px;
        box-sizing: border-box;
        color: #FFFFFF;
        cursor: pointer;
        display: inline-block;
        font-size: 15px;
        font-weight: 700;
        letter-spacing: .8px;
        line-height: 20px;
        margin: 0;
        outline: none;
        overflow: visible;
        padding: 13px 19px;
        text-align: center;
        text-transform: uppercase;
        touch-action: manipulation;
        transform: translateZ(0);
        transition: filter .2s;
        user-select: none;
        vertical-align: middle;
        white-space: nowrap;
}


a{
    text-decoration:none;
    color:#FFF;
}